.DS_Store
.idea/
cmake-build-debug/
cmake-build-release/
build/
.vscode/
build-moex-gui-Desktop_Qt_5_9_1_clang_64bit-Debug/
build-moex-gui-Desktop_Qt_5_9_1_clang_64bit-Release/
build-moex-gui-Desktop_Qt_5_9_1_clang_64bit-Profile/
